In [1]:
import pandas as pd

Speakers_by_session_path = "../data/raw/Speakers_by_session.csv"
Text_by_session_path = "../data/raw/un-general-debates.csv"

In [2]:
df_Text_by_session = pd.read_csv(Text_by_session_path)
df_Speakers_by_session = pd.read_csv(Speakers_by_session_path)

# Speakers dataframe

In [3]:
len(df_Speakers_by_session)

7704

In [4]:
df_Speakers_by_session.dtypes

Year                       float64
Session                    float64
ISO Code                    object
Country                     object
Name of Person Speaking     object
Post                        object
Language                    object
Notes                       object
dtype: object

In [5]:
df_Speakers_by_session.isna().sum()

Year                        191
Session                     191
ISO Code                    192
Country                     191
Name of Person Speaking     199
Post                       3197
Language                   3649
Notes                      6421
dtype: int64

In [6]:
# Check missing values

df_Speakers_by_session[df_Speakers_by_session.isna().any(axis=1)]

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Language,Notes
0,2015.0,70.0,AFG,Afghanistan,Mr. Abdullah Abdullah,Chief Executive Officer,English,NaN
2,2015.0,70.0,ALB,Albania,Mr. Edi Rama,Prime minister,English,NaN
4,2015.0,70.0,ARE,United Arab Emirates,Sheikh Abdullah Bin Zayed Al Nahyan,Minister for Foreign Affairs,Arabic,NaN
5,2015.0,70.0,ARG,Argentina,Cristina Fernández,President,Spanish,NaN
6,2015.0,70.0,ARM,Armenia,Mr. Serzh Sargsyan,President,Armenian,NaN
...,...,...,...,...,...,...,...,...
7699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Drop missing values
df_Speakers_by_session = df_Speakers_by_session.dropna(subset=['Year', 'Session','ISO Code','Country'])

# drop Post, Language, Notes Column
df_Speakers_by_session.drop(["Post", "Language", "Notes" ], axis=1, inplace=True)
df_Speakers_by_session.dropna(inplace=True)

In [8]:
len(df_Speakers_by_session)

7504

In [9]:
df_Speakers_by_session['Year'] = df_Speakers_by_session['Year'].astype('int64')
df_Speakers_by_session['Session'] = df_Speakers_by_session['Session'].astype('int64')
df_Speakers_by_session['Name of Person Speaking'] = df_Speakers_by_session['Name of Person Speaking'].astype('str')
df_Speakers_by_session['ISO Code'] = df_Speakers_by_session['ISO Code'].astype('str')
df_Speakers_by_session['Country'] = df_Speakers_by_session['Country'].astype('str')

# Rename columns
df_Speakers_by_session = df_Speakers_by_session.rename(columns={'Year': 'year', 'Session': 'session', 'ISO Code':'code'})

In [10]:
df_Speakers_by_session.dtypes

year                        int64
session                     int64
code                       object
Country                    object
Name of Person Speaking    object
dtype: object

# Text Dataframe

In [11]:
len(df_Text_by_session)

7507

In [12]:
df_Text_by_session.dtypes

session     int64
year        int64
country    object
text       object
dtype: object

In [13]:
df_Text_by_session.isna().sum()

session    0
year       0
country    0
text       0
dtype: int64

In [14]:
df_Text_by_session['text'] = df_Text_by_session['text'].astype('str')
df_Text_by_session['country'] = df_Text_by_session['country'].astype('str')

In [15]:
df_Text_by_session = df_Text_by_session.rename(columns={'country': 'code'})

# Merge Both dataframes

In [16]:
merged_df = df_Speakers_by_session.merge(df_Text_by_session, on=['year', 'session', 'code'], how='outer')

In [17]:
merged_df[merged_df['text'].isna()]

,year,session,code,Country,Name of Person Speaking,text
435,2013,68,EC,European Council,Herman Van Rompuy,NaN
824,2011,66,EC,European Council,Herman Van Rompuy,NaN
2709,2001,56,CHE,Sweden,Anna Lindh,NaN
4788,1989,44,BTN,Bhutan,Mr Tsering,NaN
4883,1989,44,PSE,"Palestine, State of",Terzi,NaN
5190,1987,42,PSE,Palestine,Mr. Terzi,NaN
5302,1986,41,KHM,Cambodia /Kampuchea,Norodom SIHANOUK,NaN
5465,1985,40,NIC,Nicaragua,Mr. Chamorro Mora,NaN
5662,1984,39,ZMB,Zambia,Goma,NaN
5775,1983,38,PSE,Palestine,Terzi,NaN
5975,1981,36,BLZ,Belize,Mr Leslie,NaN
6013,1981,36,GIN,Guinea,Mr. TOUNE,NaN
6035,1981,36,KHM,Democratic Kampuchea,Mr. IENG SARY,NaN
6070,1981,36,PSE,Palestine,Mr. ABDEL MEGUID,NaN
6101,1981,36,YDYE,Democratic Yemen,Mr. MOHAMMED,NaN
6305,1979,34,GIN,Guinea,Tourd,NaN
6327,1979,34,KHM,Democratic Kampuchea,Leng Sary,NaN
6365,1979,34,PSE,Palestine Liberation Organization,Terzi,NaN
6396,1979,34,YDYE,Democratic Yemen,Mohammed,NaN
6647,1977,32,PSE,Palestine,Kaddoumi,NaN
6677,1977,32,VNM,Viet Nam,Nguyen Ngoc Dung,NaN
7080,1973,28,BEN,Dahomey,Alladaye,NaN
7115,1973,28,GNQ,Equatorial Guinea,Esonomica,NaN
7357,1971,26,GTM,Guatemala,Mr. Herrera-Ivarguen,NaN

In [18]:
merged_df = merged_df.dropna(subset=['text'])

In [19]:
len(merged_df)

7508

# Text Preprocessing: lowercasing, removing punctuation, stopwords

In [20]:
merged_df["text"] = merged_df["text"].str.lower()
merged_df['text'] = merged_df['text'].str.replace(r"\d+\.", '', regex=True) # Replace start point number
merged_df['text'] = merged_df['text'].str.replace(r'[^\w\s]', '', regex=True)

merged_df['Country'] = merged_df['Country'].str.replace(r"\s+$", '', regex=True)
merged_df['Name of Person Speaking'] = merged_df['Name of Person Speaking'].str.lower()

In [21]:
# Function to extract last name from full name
def extract_last_name(full_name):
    # Split the full name by space and get the last element (last name)
    try:
        names = full_name.split()
        last_name = names[-1] if names else ''
        # Capitalize the first letter of the word
        last_name = "Mr. " + last_name[0].upper() + last_name[1:]
    
    except:
        last_name = "Unknown"
    return last_name

# Apply the function to the 'Full Name' column to create a new column 'Last Name'
merged_df['Name of Person Speaking'] = merged_df['Name of Person Speaking'].apply(extract_last_name)
merged_df = merged_df[merged_df['Name of Person Speaking'] != 'Unknown']
merged_df['Name of Person Speaking'] = merged_df['Name of Person Speaking'].str.replace(r"\s+$", '', regex=True)

In [22]:
from fuzzywuzzy import fuzz
def is_duplicate(name1, name2):
    similarity = fuzz.token_set_ratio(name1, name2)
    return similarity >= 80

def remove_duplicates(names_list):
    duplicates_indices = {}

    for i in range(len(names_list)):
        if i not in duplicates_indices:
            for j in range(i + 1, len(names_list)):
                if is_duplicate(names_list[i], names_list[j]):
                    duplicates_indices[j] = names_list[i]

    filtered_list = [name if i not in duplicates_indices else duplicates_indices[i] for i, name in enumerate(names_list)]
    return filtered_list

c:\Users\sahan\miniconda3\envs\UN\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [23]:
code_name = merged_df["code"].unique()

for c_name in code_name:
    temp_df = merged_df[merged_df["code"] == c_name]
    name_of_country = temp_df["Country"].tolist()

    merged_df.loc[merged_df["code"] == c_name, "Country"] = remove_duplicates(name_of_country)

country_name = merged_df["Country"].unique()

for c_name in country_name:
    temp_df = merged_df[merged_df["Country"] == c_name]
    name_of_leader = temp_df["Name of Person Speaking"].tolist()

    merged_df.loc[merged_df["Country"] == c_name, "Name of Person Speaking"] = remove_duplicates(name_of_leader)

In [24]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    try:
      words = text.split()
      filtered_words = [word for word in words if word.lower() not in stop_words]
      return ' '.join(filtered_words)

    except:
      print(text)

merged_df['text'] = merged_df['text'].apply(remove_stopwords)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sahan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
merged_df.to_excel("../data/preprocessed/merged_df.xlsx", index=False)